<% layout("layouts/boilerplate") %>
    <h1>All of our Campgrounds</h1>
    <a href="/campgrounds/new">Create new Campground!</a>
    <ul>
        <% for(let i = 0; i < campgrounds.length; i++){ %>
        <li><a href="campgrounds/<%= campgrounds[i]._id %>"><%= campgrounds[i].name %> </a></li>
        <% } %>
    </ul>